@charset "utf-8";
/* CSS Document */
html,body{
	width:100%;
	min-height:100%;
	padding:0;
	margin:0;
	background:#f5f5f5;}
#container{
	height:auto;
	padding:150px;
	text-align:center;}
#btnCheck{
	background:#26A65B;
	color:#fff;
	transition:all 0.1s ease;}
#btnCheck:hover{
	background:#1A964C;
	cursor:pointer;
	font-size:17px;
	transition:all 0.1s ease;}
.input-lg,#btnCheck{
	width:250px;
	height:40px;
	border-radius:3px;
	border:1px solid #ccc;
	font-size:16px;
	text-align:center;}
.shaker{
	-webkit-animation:shakeIt 0.1s linear 4;
	-moz-animation:shakeIt 0.1s linear 4;
	-ms-animation:shakeIt 0.1s linear 4;
	-o-animation:shakeIt 0.1s linear 4;
	animation:shakeIt 0.1s linear 4;
	border-color:#C00;}

@keyframes shakeIt{
	0%{transform:translateX(-15px);}
	25%{transform:translateX(15px);}
	50%{transform:translateX(-15px);}
	100%{transform:translateX(0px);}
}
